.groupLabel {
  height: 30.3px;
  padding: 10px 10px 4px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.link {
  height: 35.7px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
}

.brand {
  height: 45.9px;
  box-sizing: border-box;
}

.bottomRowServer {
  height: 32.8px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
}

.bottomRowCounts {
  height: 29.7px;
  display: flex;
  align-items: center;
  gap: 14px;
  box-sizing: border-box;
}
